<div class="my-5">
  <div class="flex m-auto w-80">
    <nz-range-picker [formControl]="dateRangeControl" [nzDisabledDate]="disabledDate"></nz-range-picker>
  </div>

  <div class="mt-5 h-[400px] w-full">
    <app-chart-dashboard
      [chartConfig]="chartConfig"
      [dateRange]="dateRangeControl.value"
      [chartData]="charts"
    ></app-chart-dashboard>
  </div>

  <div>
    <p class="mt-10 text-center text-3xl mb-4">Configure Charts</p>
    <nz-checkbox-wrapper (nzOnChange)="setChartVisibility($event)" class="w-full">
      <div class="flex justify-center">
        <ng-container *ngFor="let chart of charts; index as i">
          <div class="mx-5 items-start min-w-[150px]">
            <label nz-checkbox [ngModel]="!!chartConfig[chart.id].selected" [nzValue]="chart.id">
              <div class="flex items-center font-semibold mb-2.5">
                {{ chart.name }}
              </div>
            </label>
            <div *ngIf="chartConfig[chart.id].selected">
              <!--							<nz-color-picker [nzDefaultValue]="chart.color" nzFormat="hex"-->
              <!--															 (nzOnChange)="setChartColor($event, i)"></nz-color-picker>-->
              <nz-radio-group
                (ngModelChange)="updateChartType($event, chart.id)"
                [ngModel]="chartConfig[chart.id].type"
              >
                <label nz-radio nzValue="line">Lines</label>
                <label nz-radio nzValue="bar">Bar</label>
              </nz-radio-group>
            </div>
          </div>
        </ng-container>
      </div>
    </nz-checkbox-wrapper>

    <p class="mt-10 text-center text-3xl mb-4">Custom button Task 2</p>
    <div class="flex justify-center">
      <app-custom-button
        [tooltipText]="'Sorry, you don\'t fit expected requirements'"
        [isViewerDisabled]="true"
      ></app-custom-button>
    </div>
  </div>
</div>
